<html>

<head>
</head>

<body>
    <h1>Edit Menu Item</h1>
    <form action="#" method="POST">
        <p>Name:</p>
        <input type="text" size="30" name="name" placeholder="{{ menu_item.name }}">
        <p>Description:</p>
        <input type="text" size="30" name="description" placeholder="{{ menu_item.description }}">
        <p>Price:</p>
        <input type="text" size="30" name="price" placeholder="{{ menu_item.price }}">
        <p>Course:</p>
        <input type="radio" name="course" value="Appetizer">Appetizer<br>
        <input type="radio" name="course" value="Entree">Entree<br>
        <input type="radio" name="course" value="Dessert">Dessert<br>
        <input type="radio" name="course" value="Beverage">Beverage
        <input type="submit" value="Edit">
        <a href="#">Cancel</a>
    </form>
</body>

</html>