<html>

<head>
</head>

<body>
    <h1>{{ restaurant.name }}</h1>
    <a href="#">Back to Restaurants</a><br>
    <a href="#">Create New Menu Item</a>
    {% if menu_items %}
    {% if uncategorized %}
    {% for menu_item in uncategorized %}
    <div>
        <h3>{{ menu_item.name }}</h3>
        <h3>{{ menu_item.price }}</h3>
        <p>{{ menu_item.description }}</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
    </div>
    {% endfor %}
    {% endif %}

    {% if appetizers %}
    <h2>Appetizers</h2>
    {% for menu_item in appetizers %}
    <div>
        <h3>{{ menu_item.name }}</h3>
        <h3>{{ menu_item.price }}</h3>
        <p>{{ menu_item.description }}</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
    </div>
    {% endfor %}
    {% endif %}

    {% if entrees %}
    <h2>Entrees</h2>
    {% for menu_item in entrees %}
    <div>
        <h3>{{ menu_item.name }}</h3>
        <h3>{{ menu_item.price }}</h3>
        <p>{{ menu_item.description }}</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
    </div>
    {% endfor %}
    {% endif %}

    {% if desserts %}
    <h2>Desserts</h2>
    {% for menu_item in desserts %}
    <div>
        <h3>{{ menu_item.name }}</h3>
        <h3>{{ menu_item.price }}</h3>
        <p>{{ menu_item.description }}</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
    </div>
    {% endfor %}
    {% endif %}

    {% if beverages %}
    <h2>Beverages</h2>
    {% for menu_item in beverages %}
    <div>
        <h3>{{ menu_item.name }}</h3>
        <h3>{{ menu_item.price }}</h3>
        <p>{{ menu_item.description }}</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
    </div>
    {% endfor %}
    {% endif %}
    {% else %}
    <p>There are currently no menu items to display for this restaurant</p>
    {% endif %}
</body>

</html>